html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(100, 25px);
  grid-template-rows: repeat(100, 25px);
  height: 100vh; /* 100% der Viewport-Höhe */
  overflow: auto; /* Fügt Scrollbalken hinzu, falls das Grid den Viewport übersteigt */
  flex: 1 1 100%;
}

main {
  display: flex;
  flex-direction: row;
}

#side {
  display: flex;
  flex-direction: column;
  /* width: 200px; Breite der Seitenleiste */
  overflow: auto; /* Fügt Scrollbalken hinzu, falls die Seitenleiste den Viewport übersteigt */
  flex: 1 0 200px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc; /* Optional, fügt einen Rahmen um jede Zelle hinzu */
}

.selected {
  border: 2px solid blue;
  /* background-color: blue; Markiert die ausgewählte Zelle */
}